
@font-face {
  font-family: 'AllertaStencil-Regular';
  src: url('AllertaStencil-Regular.eot?#iefix') format('embedded-opentype'),  url('AllertaStencil-Regular.woff') format('woff'), url('AllertaStencil-Regular.ttf')  format('truetype'), url('AllertaStencil-Regular.svg#AllertaStencil-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
